.Header {
    text-align: center;
    color: red;
}
.userId {
    text-align: center;
    color: indigo;
}
.Id {
    text-align: left;
}
.Tasks {
    text-align: left;
}
.Completed {
    text-align: left;
}